DB_CONNECTION=mysql
DB_HOST=mysql         # Nombre del servicio en tu docker-compose.yml
DB_PORT=3306
DB_DATABASE=laravel   # Debe coincidir con el nombre en el compose
DB_USERNAME=root      # Usuario definido en el compose
DB_PASSWORD=root      # Contraseña definida en el compose